body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Kolor tła dla całej strony */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; /* Kolor tła dla kontenera */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Cień */
}

.header {
    text-align: center;
    margin-bottom: 20px;
    background-color: #007BFF; /* Kolor tła dla nagłówka */
    color: white; /* Kolor tekstu */
    padding: 10px;
    border-radius: 5px;
}

.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left, .right {
    flex: 1;
    margin: 10px;
    background-color: #ffffff; /* Kolor tła dla left i right */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Cień */
}

.left {
    border-right: 1px solid #ddd; /* Linia oddzielająca lewą kolumnę od prawej */
}

.right {
    border-left: 1px solid #ddd; /* Linia oddzielająca prawą kolumnę od lewej */
}

.calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.calendar th {
    background-color: #f2f2f2;
}

.calendar td:hover {
    background-color: #f2f2f2;
}

.calendar td.selected {
    background-color: #ffcc00;
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#selected-date-info {
    margin-top: 20px;
    font-weight: bold;
}
